<div>
  <div class="text-end">
    <button class="btn buttonTheme">Add</button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Agency</th>
        <th scope="col">number</th>
      </tr>
    </thead>
    <tbody *ngIf="listAcounts.length > 0; else listEmpty">
      <tr *ngFor="let account of listAcounts; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ account.agency }}</td>
        <td>{{ account.number }}</td>
      </tr>
    </tbody>
  </table>

  <ng-template #listEmpty>
    <tbody>
      <tr>
        <td colspan="3">No account registered</td>
      </tr>
    </tbody>
  </ng-template>

</div>
