@import "~bootstrap/dist/css/bootstrap.min.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.buttonTheme {
  background: #8e44ad;
  color: #fff;
  &:hover,
  &:focus {
    transition: 0.5s;
    background: #fff;
    color: #8e44ad;
    border: 2px solid #8e44ad;
  }
}

.border-theme {
  border: 2px solid #8e44ad;
}

.text-theme {
  color:#8e44ad;
}
